

.one{
    position: absolute;
    z-index: 1;
    width: 100%;
    top : 0;
    height: 65%;

}

.iconslides{
    margin-top: 30%;
    font-size: 7em;
}

.homeheader{
    margin-top : 60% !important;
    font-weight : bold;
    font-size: 1em;
}
.homeparagraph{
     width: 80%;
     display: block;
     margin: 0 auto;
     font-size: .9em;
 }
 .swiper-pagination-bullet-active{
     background :#2f4e99;
 }

 .swiper-pagination{
     bottom : 12% !important;
 }

 #skip {
     position : absolute;
     bottom : 40px;
     width: 90%;
     background: none !important;
     text-align : center;
     cursor : pointer;
     z-index: 5;
     color : #2f4e99;
     font-weight: bold;
 }  