.amount-field {
  border-radius: 15px 15px 15px 15px;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.2);
  margin-left: 0.5%;
  margin-top: 4%;
}

.text-area {
  margin-left: 0.7%;
  margin-top: 4%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.2);
}
