// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
hr {
  border-top: 1px solid white;
}

.toolbar-title-md {
  padding: 0 12px;
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
}

.adjusttitle {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px 55px 1px;
  color: white;
}

.menu_header {
  font-weight: bold;
}

ion-menu {
  ion-content {
    background-color: #2f4e99 !important;
    color: #f4f4f4;
  }
}

.toolbar-background {
  background-color: #5680E9;
}

.toolbar-title.toolbar-title-md,
.toolbar-title.toolbar-title-ios,
.toolbar-title.toolbar-title-wp {
  color: map-get($colors, light);
}

.masters {
  background-color: white;
}

ion-icon {
  color: #f4f4f4;
}

.rounded-fields {
  border-radius: 25px 25px 25px 25px;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.2);
  margin-left: 0.5%;
  margin-top: 10%;
  margin-right: 0.5%;
}

.grid {
  margin-left: 1.5%;
}

.labelprev {
  padding-top: 5%;
  margin-left: 5%;
  color: blueviolet;
}

.next-button {
  margin-top: 10%;
  font-size: 18px;
}

ion-input {
  color: whitesmoke;
  text-align: end;
  ::placeholder {
    text-align: center;
    color: whitesmoke;
  }
}

/* ------------ */

.homepage-picture {
  background: url("../../assets/imgs/login.jpg");
  background-size: cover;
}

.logo-div {
  width: 30%;
  height: auto;
  margin-top: 20%;
  margin-left: 35%;
}

.logo-text {
  font-size: 30px;
  color: whitesmoke;
  margin-left: 18%;
  letter-spacing: 3px;
}

ion-input {
  color: whitesmoke;
  text-align: end;
  ::placeholder {
    text-align: center;
    color: whitesmoke;
  }
}

.round-buttons {
  margin-top: 10%;
  background-color: #E7E3D4;
  color: rgb(114, 110, 110);
  font-size: 18px;
}

.text-input::-webkit-input-placeholder {
  text-indent: 0;
  color: whitesmoke;
}

.blacklogo-div {
  width: 30%;
  height: auto;
  margin-left: 35%;
}

.blacklogo-text {
  font-size: 25px;
  color: rgb(97, 94, 94);
  margin-left: 17%;
  letter-spacing: 3px;
}

.next-button {
  margin-top: 10%;
  font-size: 18px;
}

.next-icon {
  width: auto;
  height: 80%;
  padding-left: 90%;
  position: absolute;
}

.previous-icon {
  width: auto;
  height: 80%;
  padding-right: 90%;
  position: absolute;
}

.big-labels {
  font-size: 20px;
  margin-top: 10%;
  margin-left: 35%;
  color: rgb(97, 93, 93);
  position: absolute;
}

.medium-labels {
  font-size: 17px;
  color: rgb(97, 94, 94);
  margin-left: 5%;
}

.topMargin {
  margin-top: 50%;
}

.finalpage-icons {
  width: auto;
  height: auto;
  padding-left: 85%;
  position: absolute;
}

.content-background {
  background-color: white;
}

.checked-image {
  margin-left: 45%;
  margin-top: 5%;
}

.half {
  height: 50%;
  margin-top: 80%;
  background-color: #EDF5E1;
}

.scroll-buttons {
  font-size: 22px;
}

.scroll-menu {
  white-space: nowrap;
  height: 40%;
}
